{% extends "base.html" %}
{% block content %}
    {% include "user_info.html" %}
    <form action="" method="POST">
        Current location: <input type="text" name="origin" value="{{ user_choices.get('origin', '') }}">
        Destination: <input type="text" name="destination" value="{{ user_choices.get('destination', '') }}">
        <button type="submit">Submit</button>
    </form>
    <!-- <div id="locationField">
        <input id="autocomplete" name="location" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
    </div> -->
{% endblock %}