{% extends "base.html" %}
{% block content %}
    {% include "user_info.html" %}
    {% if user_choices %}-----{% endif %}
    {% if user_choices.get('origin') %}
        <p><i>Origin</i>: {{ user_choices['origin'] }}</p>
    {% endif %}
    {% if user_choices.get('destination') %}
        <p><i>Destination</i>: {{ user_choices['destination'] }}</p>
    {% endif %}
    {% if user_choices %}-----{% endif %}
    <form action="" method="POST">
        <input type="submit" name="walking" value="Walking">
        <input type="submit" name="driving" value="Driving">
        <input type="submit" name="biking" value="Biking">
    </form>
{% endblock %}