{% extends "base.html" %}
{% block content %}
    {% include "user_info.html" %}
    {% if user_choices %}-----{% endif %}
    {% if user_choices.get('origin') %}
        <p><i>Origin</i>: {{ user_choices['origin'] }}</p>
    {% endif %}
    {% if user_choices.get('destination') %}
        <p><i>Destination</i>: {{ user_choices['destination'] }}</p>
    {% endif %}
    {% if user_choices.get('mot') %}
        <p><i>Mode of Transport</i>: {{ user_choices['mot'] }}</p>
    {% endif %}
    {% if user_choices.get('speed') %}
        <p><i>Speed</i>: {{ user_choices['speed'] }}</p>
    {% endif %}
    {% if user_choices %}-----{% endif %}
    <form action="" method="POST">
        <input type="submit" name="music" value="Music">
        <input type="submit" name="podcast" value="Podcast">
    </form>
{% endblock %}